127.0.0.1       localhost
{{ host01 }}	mongo01     # ReplSet
{{ host02 }}	mongo02     # ReplSet
{{ host03 }}	mongo03     # ReplSet
{{ host04 }}	mongo04     # Shard
{{ host05 }}	mongo05     # Shard
{{ host06 }}	mongo06     # Shard
{{ host07 }}	mongo07     # Router
