systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongoRouter.log

net:
  port: 27017
  bindIp: {{ host07 }}

security:
  keyFile: /var/lib/mongo/mongo-keyfile

sharding:
  configDB: configReplSet/{{ host01 }}:27019,{{ host02 }}:27019,{{ host03 }}:27019
